* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background-color: aquamarine;
}

.memory-game {
  width: 640px;
  height: 640px;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  border: 2px solid yellow;
  /* perspective: 1000px; */
}

.memory-card {
  position: relative;
  width: calc(25% - 10px);
  height: calc(33.3333% - 10px);
  margin: 5px;
  border: 2px solid palevioletred;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 5px;
  background: goldenrod;
  position: absolute;
  border: 2px solid grey;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}
